<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Testimony</title>
        <!-- <link rel="stylesheet" href="assets/vendors/fontawesome-free/"> -->
        <!-- <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <div class="bg-black">
        <%- include('../partials/header'); %>

    </div>
    <section class="container-fluid  top">
        <div class="row">
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/4.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/5.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/2.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/1.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/3.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/6.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/7.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/8.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/9.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/10.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/12.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/13.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/14.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/15.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/16.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/17.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/18.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/19.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/20.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/21.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/22.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/23.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/24.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/25.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/26.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/27.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 cade cad ">
                <div class="card">
                    <img src="assets/images/testimonies/28.png" class="card-img-top image" alt="">
                    <div class="card-body">
                        <h5 class="card-title">CLIENT FEEBACK</h5>
                        <p class="card-text">

                        </p>
                        <a href="premuimsignal.html" class="btn btn-primary">Subscribe To Use</a>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <footer class="container ">

        <div class="small d-flex flex-wrap mt-5 pt-5">

            <div class="col-5 col-lg-3">
                <h5> COMPANY</h5>
                <ul>
                    <li><a href="#"> Terms and Conditions</a> </li>
                    <li><a href="#"> Privacy Policy </a> </li>
                </ul>
            </div>

            <div class="col-7 col-lg-3">
                <h5>SERVICES</h5>
                <ul>
                    <li> <a href="https://victorcasino.com.ng">49ja casino Prediction</a> </li>
                    <li> <a href="https://premuimsignal"> 49ja casino Autotrading</a> </li>
                    <li> <a href="https://www.youtube.com/channel/UCTmDfiPBrTU8gCeye9UFVhw"> 49ja casino Tutorials </a> </li>
                </ul>
            </div>

            <div class="col-md-5 col-lg-3 ">
                <h5>RESOURCES</h5>
                <ul>
                    <li><a href="https://www.youtube.com/channel/UCTmDfiPBrTU8gCeye9UFVhw"> Betting Tutorials </a> </li>
                    <li><a href="https://faq.victorcasino.com.ng"> frequently Asked Questions </a> </li>
                </ul>
            </div>


            <div class="col-7 col-lg-3">
                <h5>CONTACT US</h5>
                <ul>
                    <li>
                        <h6>
                            <a href="https://wa.link/5nhdgi" target="_blank" rel="noopener noreferrer"><i class="fa fa-whatsapp" aria-hidden="true"></i> number here</a>
                        </h6>
                    </li>
                    <a href="https://wa.link/5nhdgi" target="_blank" rel="noopener noreferrer"> </a>

                    <li class="d-flex justify-content-around w-50">
                        <a href=https://www.youtube.com/channel/UCTmDfiPBrTU8gCeye9UFVhw> <i class="fab fa-youtube" aria-hidden="true"> </i> </a>
                        <a href="https://facebook.com/victorcasino"><i class="fab fa-facebook" aria-hidden="true"></i> </a>
                        <a href="https://t.me/victor_casino"><i class="fab fa-telegram" aria-hidden="true"></i> </a>
                        <a href=""><i class="fab fa-whatsapp" aria-hidden="true"></i> </a>
                    </li>

                    <li> support@victorcasino.com</li>

                </ul>
            </div>
        </div>

        <!-- <p class="mt-4 small border-bottom"> ® Official website of VICTOR CASINO Limited </p> -->

        <p class="pt-4">
            <a href="http://victorcasino.com.ng"><img class="animate__animated animate__swing   animate__infinite infinite" src="assets/logo/logo.png" width="70" alt=""> </a>
        </p>

        <p class="small">
            VICTOR CASINO®
        </p>

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>
</section>